.arguments-viewer {
    position: absolute;
    width: 100%;
    height: 100%;
}

.arguments-viewer-content {
    background-color: #393939;
    border-width: 1;
    border-color: #242424;
    border-radius: 8 8 0 0;
    width: 300;
    height: 500;
    margin: 20 0 0 20;
}

#btn-close {
    align-self: flex-end;
}